@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@600&display=swap');
*{
 padding: 0;
 margin: 0;
box-sizing: border-box;
text-decoration: none;
}
body{
font-size: 100%;
background: rgb(2,0,36);
background: linear-gradient(152deg, rgba(2,0,36,1) 0%, rgba(0,78,255,1) 36%, rgba(0,212,255,1) 100%);
}
.cabecalho{
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
padding: 20px;
}
.logo-principal{
 height: 8vh;
}
.menu{
    display: flex;
    gap: 3rem;

}
.botao{
    font-family: 'Trispace', sans-serif;
    color: aliceblue;
    font-size: 18px;
}
.conteudo{
    margin-bottom: 48px;
    border-top:solid 1px  aliceblue;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;

}
.conteudo-principal-titulo{
    font-family: 'Trispace', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: aliceblue;
}
.conteudo-principal-subtitulo{
    font-family: 'Trispace', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: aliceblue;  
}
.conteudo-principal-botao{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: burlywood;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
}
.conteudo-principal-botao:hover{
    animation: loud 1s ease-in-out infinite;  
}
@keyframes loud{
  0%{
    transform: rotate(360deg);
  } 
  100%{
    transform: rotate(odeg);
  }
}


.conteudo-principal-imagem{
    margin-top: 40px;
    height: 20vh;
    animation: up 6s infinite ease-in-out;

}
@keyframes up{
    0%{
transform: translateY(0px);
 }
  50%{
transform: translateY(70px);
  } 
  100%{
    transform: translateY(0px);
  } 
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 50px;
}
.conteudo-secundario-titulo{
    padding-top: 40px;
}
.rodape{
    border-top: solid 1px aliceblue  ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rodape-imagem{
    margin: 2vh;
    height: 22vh;
}




@media(max-width: 1200px){
section{
    width: 1000px;
}

}
@media(max-width: 425px){
    section{
        width: 320px;
    }
    
    }
    @media (max-width: 750px) {
        body {
            font-size: 12px;
        }
    
